<main>
  <!-- page title area start -->
  <section
    class="page__title page__title-height d-flex align-items-center"
    data-background="assets/img/page-title/page-title-1.jpg"
    style="background-image: url('assets/img/page-title/page-title-1.jpg')"
  >
    <div class="hero-shape">
      <span class="circle"></span>
      <span class="circle circle-yellow"></span>
      <span class="shape-plus shape-plus-green">+</span>
      <span class="shape-plus shape-plus-green shape-plus-2">+</span>
      <span class="dot-shape">
        <img src="assets/img/shape/dot-shape.png" alt="dot-shape" />
      </span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page__title-content text-center mt-80">
            <h2>Employer List</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Employer List
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page title area end -->

  <!-- job-area-start -->
  <div class="job-area pt-80 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12">
          <div class="emp-sidebar">
            <div class="form-group select-group">
              <select
                class="form-select form-control"
                (change)="OnChangeSpeciality($event)"
              >
                <option data-display="Choose A Speciality">
                  Choose A Speciality
                </option>
                <option
                  value="1"
                  *ngFor="let i of listspeciality"
                  [value]="i.name"
                >
                  {{ i.name }}
                </option>
              </select>
            </div>

            <div class="form-group select-group">
              <select
                class="form-select form-control"
                (change)="OnChangePlace($event)"
              >
                <option data-display="Choose A Place">Choose A Place</option>
                <option value="1" *ngFor="let i of listplaces" [value]="i.name">
                  {{ i.name }}
                </option>
              </select>
            </div>

            <div class="job-widget border-0">
              <div class="filter-btn">
                <a href="#" class="f-btn"
                  >Filter <i class="far fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="job-widget border-0 mt-30">
              <img src="assets/img/bg/banner-job.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12">
          <div class="job-item employer-item mb-30" *ngFor="let i of listuser">
            <div class="row align-items-center">
              <div class="col-lg-12">
                <div class="job-wrapper">
                  <div class="banck-icon">
                    <i class="flaticon-dashboard"></i>
                  </div>
                  <div class="job-instructor-profile">
                    <div class="job-instructor-img f-left">
                      <img
                        src="http://localhost:3000/getfile/{{ i?.picture }}"
                        alt=""
                      />
                    </div>
                    <div class="job-instructor-title">
                      <h5>
                        <a href="employer-details.html">{{ i?.fisrtname }}</a>
                      </h5>
                      <div class="job-meta mt-15">
                        <span
                          ><i class="far fa-briefcase"></i>
                          {{ i?.specialites?.name }}</span
                        >
                        <span
                          ><i class="far fa-map-marker-alt"></i>
                          {{ i?.place?.name }}</span
                        >
                      </div>
                      
                      <div class="emp-rating mt-10">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                      &nbsp;&nbsp;
                      <a
                          class="b-btn b-btn-green"
                          [routerLink]="['/detailentreprise', i._id]"
                          >Employer Details <i class="far fa-arrow-right"></i>
                        </a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="basic-pagination mt-30">
            <ul>
              <li>
                <a href="#"><i class="fal fa-angle-left"></i></a>
              </li>
              <li class="active"><a href="#">01</a></li>
              <li><a href="#">02</a></li>
              <li><a href="#">03</a></li>
              <li>
                <a href="#"><i class="fas fa-ellipsis-h"></i></a>
              </li>
              <li>
                <a href="#"><i class="fal fa-angle-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- job-area-end -->

  <!-- login register modal start -->
  <!-- Modal -->

  <!-- login register modal end -->
</main>
