<section
  class="page__title page__title-height d-flex align-items-center"
  data-background="assets/img/page-title/page-title-1.jpg"
  style="background-image: url('assets/img/page-title/page-title-1.jpg')"
>
  <div class="hero-shape">
    <span class="circle"></span>
    <span class="circle circle-yellow"></span>
    <span class="shape-plus shape-plus-green">+</span>
    <span class="shape-plus shape-plus-green shape-plus-2">+</span>
    <span class="dot-shape">
      <img src="assets/img/shape/dot-shape.png" alt="dot-shape" />
    </span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="page__title-content text-center mt-80">
          <h2>Blog Standard</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Blog Standard
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="candidate__area pt-35 pb-140 grey-bg">
  <div class="container">
    <div class="candidate__inner">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6" *ngFor="let i of listuser">
          <div class="candidate__item text-center mb-75">
            <div class="candidate__thumb mb-25">
              <img src="http://localhost:3000/getfile/{{i.picture}}" alt="" />
            </div>
            <div class="candidate__content">
              <h5>{{i.firstname}} {{i.lastname}}</h5>
              <span>Web Designer</span>

              <div class="candidate__info mt-25 mb-30">
                <span
                  ><i class="far fa-map-marker-alt"></i>{{i.place.name}}
                  </span
                >
                <span
                  ><i class="far fa-usd-circle"></i>250 - 495 / Monthly</span
                >
              </div>
              <div class="candidate__skill">
                <a href="candidate-details.html">Graphics</a>
                <a href="candidate-details.html">Wordpress</a>
              </div>
            </div>
            <div class="candidate__btn">
              <a [routerLink]="['/detailcandidat', i._id]" class="b-btn b-btn-green"
                >View Profil <i class="far fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="basic-pagination basic-pagination-2 text-center">
            <ul>
              <li>
                <a href="#"><i class="fal fa-angle-left"></i></a>
              </li>
              <li><a href="#">01</a></li>
              <li class="active"><a href="#">02</a></li>
              <li><a href="#">03</a></li>
              <li>
                <a href="#"><i class="fas fa-ellipsis-h"></i></a>
              </li>
              <li>
                <a href="#"><i class="fal fa-angle-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
