
<main>
  <!-- page title area start -->
  <section
    class="page__title page__title-height d-flex align-items-center"
    data-background="assets/img/page-title/page-title-1.jpg"
    style="background-image: url('assets/img/page-title/page-title-1.jpg')"
  >
    <div class="hero-shape">
      <span class="circle"></span>
      <span class="circle circle-yellow"></span>
      <span class="shape-plus shape-plus-green">+</span>
      <span class="shape-plus shape-plus-green shape-plus-2">+</span>
      <span class="dot-shape">
        <img src="assets/img/shape/dot-shape.png" alt="dot-shape" />
      </span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page__title-content text-center mt-80">
            <h2>Candidate Details</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{byid?.firstname}} {{byid?.lastname}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page title area end -->

  <!-- team details area start -->
  <section class="team__area pb-140 grey-bg">
    <div class="container">
      <div class="team__avater">
        <div class="team__shape">
          <img
            class="one"
            src="assets/img/shape/team/team-shape-1.png"
            alt=""
          />
          <img
            class="two"
            src="assets/img/shape/team/team-shape-2.png"
            alt=""
          />
          <img
            class="three"
            src="assets/img/shape/team/team-shape-3.png"
            alt=""
          />
        </div>
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="team__avater-info d-sm-flex align-items-center">
              <div class="team__avater-img mr-35">
                <img
                src="http://localhost:3000/getfile/{{byid.picture}}"
                  
                />
              </div>
              <div class="team__details">
                <h4>{{byid?.firstname}} {{byid?.lastname}}</h4>
                <span>{{byid?.specialites?.name}}</span>
                <div class="team__social-2 theme-social">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-behance"></i>
                        <i class="fab fa-behance"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-youtube"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="team__btn d-sm-flex justify-content-lg-end">
              <a href="contact.html" class="b-btn b-btn-white-2 mr-20 mb-30">
                Hire Me Now<i class="far fa-arrow-right"></i
              ></a>
              <a href="contact.html" class="b-btn b-btn-white-2 mb-30">
                Download CV<i class="far fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="team__information">
        <div class="row">
          <div class="col-xl-8 col-lg-8">
            <div class="team__info-wrapper">
              <div class="team__info mt-45 pt-55">
                <div class="team__info-title">
                  <h4>Learn About Me</h4>
                </div>
                <div class="team__info-content">
                  <div class="team__about">
                    <p>
                      {{byid?.description}}
                    </p>

                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team__about-item d-flex mb-35">
                          <div class="icon">
                            <i class="fal fa-graduation-cap"></i>
                          </div>
                          <div class="text">
                            <h5>Education</h5>
                            <span>BSC In Computer</span>
                          </div>
                        </div>
                        <div class="team__about-item d-flex mb-35">
                          <div class="icon">
                            <i class="fal fa-flag-usa"></i>
                          </div>
                          <div class="text">
                            <h5>Language</h5>
                            <span>English, France</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team__about-item d-flex mb-35">
                          <div class="icon">
                            <i class="fal fa-clock"></i>
                          </div>
                          <div class="text">
                            <h5>Age</h5>
                            <span>29 Years</span>
                          </div>
                        </div>
                        <div class="team__about-item d-flex mb-35">
                          <div class="icon">
                            <i class="fal fa-bullhorn"></i>
                          </div>
                          <div class="text">
                            <h5>Expected Salary</h5>
                            <span>230 - 250 Monthly</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team__about-item d-flex mb-35">
                          <div class="icon">
                            <i class="fal fa-usd-circle"></i>
                          </div>
                          <div class="text">
                            <h5>Selari Range</h5>
                            <span>$250 - $320 Monthly</span>
                          </div>
                        </div>
                        <div class="team__about-item d-flex mb-35">
                          <div class="icon">
                            <i class="fal fa-bullseye-arrow"></i>
                          </div>
                          <div class="text">
                            <h5>Experience</h5>
                            <span>5 Years</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team__info mt-10">
                <div class="team__info-title">
                  <h4>Education</h4>
                </div>
                <div class="team__info-content">
                  <div class="team__education mt-30">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6">
                        <div class="team__education-item d-flex mb-20">
                          <div class="icon">
                            <i class="fal fa-graduation-cap"></i>
                          </div>
                          <div class="text">
                            <span>BSC In Engineering (1995- 1999)</span>
                            <h5>Oxford University</h5>
                            <p>
                              But must explain to you how all this mistaken idea
                              of denouncin pleasure and praising pain was born
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                        <div class="team__education-item d-flex mb-20">
                          <div class="icon">
                            <i class="fal fa-graduation-cap"></i>
                          </div>
                          <div class="text">
                            <span>Diploma In Computer (2000- 2005)</span>
                            <h5>USA Polytechnical</h5>
                            <p>
                              But must explain to you how all this mistaken idea
                              of denouncin pleasure and praising pain was born
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                        <div class="team__education-item d-flex mb-20">
                          <div class="icon">
                            <i class="fal fa-graduation-cap"></i>
                          </div>
                          <div class="text">
                            <span>Master In Computer (1995- 1999)</span>
                            <h5>Begum Rokeya University</h5>
                            <p>
                              But must explain to you how all this mistaken idea
                              of denouncin pleasure and praising pain was born
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                        <div class="team__education-item d-flex mb-20">
                          <div class="icon">
                            <i class="fal fa-graduation-cap"></i>
                          </div>
                          <div class="text">
                            <span>Masters in Fine Arts (2000- 2005)</span>
                            <h5>Meril University</h5>
                            <p>
                              But must explain to you how all this mistaken idea
                              of denouncin pleasure and praising pain was born
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team__info mt-10">
                <div class="team__info-title">
                  <h4>Work Experience</h4>
                </div>
                <div class="team__info-content">
                  <div class="team__education mt-30">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6">
                        <div class="team__education-item d-flex mb-20">
                          <div class="icon">
                            <i class="fal fa-broadcast-tower"></i>
                          </div>
                          <div class="text">
                            <span>Print Design LTD (2005- 2010)</span>
                            <h5>Senior IT Consultant</h5>
                            <p>
                              At vero eos et accusamus et iustoes odio
                              dignissimos ducimus qulandtec praesentium
                              voluptatum delene
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                        <div class="team__education-item d-flex mb-20">
                          <div class="icon">
                            <i class="fal fa-laptop-code"></i>
                          </div>
                          <div class="text">
                            <span>Fashion Stock (2000- 2005)</span>
                            <h5>Senior Web Developer</h5>
                            <p>
                              At vero eos et accusamus et iustoes odio
                              dignissimos ducimus qulandtec praesentium
                              voluptatum delene
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                        <div class="team__education-item d-flex mb-20">
                          <div class="icon">
                            <i class="fal fa-layer-group"></i>
                          </div>
                          <div class="text">
                            <span>Pixel Building (2010-2012)</span>
                            <h5>Graphics Designer</h5>
                            <p>
                              On the other hand, we denounce with righteous
                              indignation adislike men who are so beguiled
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                        <div class="team__education-item d-flex mb-20">
                          <div class="icon">
                            <i class="fal fa-tools"></i>
                          </div>
                          <div class="text">
                            <span>Media Boss LTD (2000- 2005)</span>
                            <h5>Support Enginner</h5>
                            <p>
                              Nam libero tempore cum solutnobis est eligendi
                              optio cumque niimpedit quo minus id quod maxime
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team__info mt-10">
                <div class="team__info-title">
                  <h4>Professional Skills</h4>
                </div>
                <div class="team__info-content">
                  <div class="team__skill mt-40">
                    <div class="row skill-parent">
                      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="team__skill-item text-center mb-45">
                          <div class="progress-circular">
                            <div
                              style="
                                display: inline;
                                width: 115px;
                                height: 115px;
                              "
                            >
                              <canvas width="115" height="115"></canvas
                              ><input
                                type="text"
                                class="knob"
                                value="0"
                                data-rel="85"
                                data-linecap="square"
                                data-width="115"
                                data-height="115"
                                data-bgcolor="#f5f7fc"
                                data-fgcolor="#26ae61"
                                data-thickness=".10"
                                data-readonly="true"
                                disabled=""
                                readonly="readonly"
                                style="
                                  width: 61px;
                                  height: 38px;
                                  position: absolute;
                                  vertical-align: middle;
                                  margin-top: 38px;
                                  margin-left: -88px;
                                  border: 0px;
                                  background: none;
                                  font: bold 23px Arial;
                                  text-align: center;
                                  color: rgb(38, 174, 97);
                                  padding: 0px;
                                  appearance: none;
                                "
                              />
                            </div>
                          </div>
                          <div class="team__skill-content">
                            <h4>Graphic Design</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="team__skill-item text-center mb-45">
                          <div class="progress-circular">
                            <div
                              style="
                                display: inline;
                                width: 115px;
                                height: 115px;
                              "
                            >
                              <canvas width="115" height="115"></canvas
                              ><input
                                type="text"
                                class="knob"
                                value="0"
                                data-rel="79"
                                data-linecap="square"
                                data-width="115"
                                data-height="115"
                                data-bgcolor="#f5f7fc"
                                data-fgcolor="#26ae61"
                                data-thickness=".10"
                                data-readonly="true"
                                disabled=""
                                readonly="readonly"
                                style="
                                  width: 61px;
                                  height: 38px;
                                  position: absolute;
                                  vertical-align: middle;
                                  margin-top: 38px;
                                  margin-left: -88px;
                                  border: 0px;
                                  background: none;
                                  font: bold 23px Arial;
                                  text-align: center;
                                  color: rgb(38, 174, 97);
                                  padding: 0px;
                                  appearance: none;
                                "
                              />
                            </div>
                          </div>
                          <div class="team__skill-content">
                            <h4>Web Developer</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="team__skill-item text-center mb-45">
                          <div class="progress-circular">
                            <div
                              style="
                                display: inline;
                                width: 115px;
                                height: 115px;
                              "
                            >
                              <canvas width="115" height="115"></canvas
                              ><input
                                type="text"
                                class="knob"
                                value="0"
                                data-rel="82"
                                data-linecap="square"
                                data-width="115"
                                data-height="115"
                                data-bgcolor="#f5f7fc"
                                data-fgcolor="#26ae61"
                                data-thickness=".10"
                                data-readonly="true"
                                disabled=""
                                readonly="readonly"
                                style="
                                  width: 61px;
                                  height: 38px;
                                  position: absolute;
                                  vertical-align: middle;
                                  margin-top: 38px;
                                  margin-left: -88px;
                                  border: 0px;
                                  background: none;
                                  font: bold 23px Arial;
                                  text-align: center;
                                  color: rgb(38, 174, 97);
                                  padding: 0px;
                                  appearance: none;
                                "
                              />
                            </div>
                          </div>
                          <div class="team__skill-content">
                            <h4>IT Consulting</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="team__skill-item text-center mb-45">
                          <div class="progress-circular">
                            <div
                              style="
                                display: inline;
                                width: 115px;
                                height: 115px;
                              "
                            >
                              <canvas width="115" height="115"></canvas
                              ><input
                                type="text"
                                class="knob"
                                value="0"
                                data-rel="68"
                                data-linecap="square"
                                data-width="115"
                                data-height="115"
                                data-bgcolor="#f5f7fc"
                                data-fgcolor="#26ae61"
                                data-thickness=".10"
                                data-readonly="true"
                                disabled=""
                                readonly="readonly"
                                style="
                                  width: 61px;
                                  height: 38px;
                                  position: absolute;
                                  vertical-align: middle;
                                  margin-top: 38px;
                                  margin-left: -88px;
                                  border: 0px;
                                  background: none;
                                  font: bold 23px Arial;
                                  text-align: center;
                                  color: rgb(38, 174, 97);
                                  padding: 0px;
                                  appearance: none;
                                "
                              />
                            </div>
                          </div>
                          <div class="team__skill-content">
                            <h4>Business Sense</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team__quote mt-10 mb-45">
                <div class="team__quote-avater f-left fix">
                  <img src="assets/img/team/details/team-quote.jpg" alt="" />
                </div>
                <div class="team__quote-text ml-140">
                  <h4>Fábio Costa Carvalho</h4>
                  <span>CEO &amp; Founder</span>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto
                  </p>
                </div>
              </div>
              <div class="team__info mt-10">
                <div class="team__info-title">
                  <h4>Add Reviews</h4>
                </div>
                <div class="team__info-content">
                  <div class="contact__form">
                    <form action="#">
                      <div class="row">
                        <div class="col-xl-6">
                          <div class="contact__input">
                            <input type="text" placeholder="Your Full Name" />
                            <i class="far fa-user"></i>
                          </div>
                        </div>
                        <div class="col-xl-6">
                          <div class="contact__input">
                            <input type="email" placeholder="Email Address" />
                            <i class="far fa-envelope"></i>
                          </div>
                        </div>
                        <div class="col-xl-12">
                          <div class="contact__input">
                            <textarea placeholder="Write Comments"></textarea>
                            <i class="far fa-pen-alt"></i>
                          </div>
                        </div>
                        <div class="col-xl-12">
                          <button type="submit" class="b-btn b-btn-green w-100">
                            Send Reviews <i class="far fa-arrow-right"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4">
            <div class="team__job mt-95 mb-30">
              <h4>Job Informations</h4>
              <ul>
                
                <li>
                  <h5>Category</h5>
                  <span>{{byid?.specialites?.name}}</span>
                </li>
                <li>
                  <h5>Location</h5>
                  <span>{{byid?.place?.name}}</span>
                </li>
                <li>
                  <h5>Offered Salary</h5>
                  <span> $1850 - $2350 /month</span>
                </li>
                <li>
                  <h5>Posted</h5>
                  <span> Posted 5 Months Ago</span>
                </li>
                <li>
                  <h5>Experience</h5>
                  <span>5 Year</span>
                </li>
                <li>
                  <h5>Gender</h5>
                  <span>Male &amp; Female</span>
                </li>
                <li>
                  <h5>Industry</h5>
                  <span>Development</span>
                </li>
                <li>
                  <h5>Qualification</h5>
                  <span> Associate Degree</span>
                </li>
              
              </ul>
              
            </div>
            <div class="team__contact mb-30">
              <h4>Contact Info</h4>
              <ul>
                <li>
                  <div class="icon">
                    <i class="far fa-phone"></i>
                  </div>
                  <div class="text">
                    <span
                      >Phone :
                      <a href="tel:+880-123-456-78">{{byid?.mobile}}</a></span
                    >
                  </div>
                </li>
                <li>
                  <div class="icon theme-color">
                    <i class="far fa-envelope-open"></i>
                  </div>
                  <div class="text theme-color">
                    <span
                      >Email :
                      <a href="mailto:support@gmail.com"
                        >{{byid?.email}}</a
                      ></span
                    >
                  </div>
                </li>
                <li>
                  <div class="icon theme-color">
                    <i class="far fa-map-marker-alt"></i>
                  </div>
                  <div class="text theme-color">
                    <span>{{byid?.place?.name}}</span>
                  </div>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- team details area end -->

  <!-- login register modal start -->
</main>
