<footer>
    <div class="footer__area">
        <div class="footer__bg" data-background="assets/img/footer/footer-bg-1.png" style="background-image: url(&quot;assets/img/footer/footer-bg-1.png&quot;);"></div>
        <div class="footer__top black-bg pt-80 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7">
                        
                        <div class="footer__widget mb-50">
                            <div class="footer__widget-title mb-20">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="assets/img/logo/logo.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="footer__widget-content">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis etarchitecto beatae vitae dicta sunt explicabo.</p>
                                <div class="footer__info d-sm-flex justify-content-between pr-40">
                                    <div class="footer__info-item d-flex align-items-center mb-30">
                                        <div class="icon mr-15">
                                            <i class="fal fa-gift-card"></i>
                                        </div>
                                        <div class="text">
                                            <h4><span class="counter">3560</span>+</h4>
                                            <span>Available Jobs</span>
                                        </div>
                                    </div>
                                    <div class="footer__info-item d-flex align-items-center mb-30">
                                        <div class="icon mr-15">
                                            <i class="fal fa-user-circle"></i>
                                        </div>
                                        <div class="text">
                                            <h4><span class="counter">8563</span>+</h4>
                                            <span>Employees</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-7">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="footer__widget pl-20 mb-50">
                                    <div class="footer__widget-title mb-20">
                                        <h3>Information</h3>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="#">Looking For A Jobs?</a></li>
                                                <li><a href="#">International Jobs</a></li>
                                                <li><a href="#">Upload Resume</a></li>
                                                <li><a href="#">Setting &amp; Privacy</a></li>
                                                <li><a href="#">Career Advice</a></li>
                                                <li><a href="#">Freelanc Category</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="footer__widget pl-10 mb-50">
                                    <div class="footer__widget-title mb-20">
                                        <h3>Quick Jobs</h3>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="#">Finance &amp; Banking</a></li>
                                                <li><a href="#">Business &amp; Consulting</a></li>
                                                <li><a href="#">Creative Designer</a></li>
                                                <li><a href="#">Web Developer</a></li>
                                                <li><a href="#">Digital Marketing</a></li>
                                                <li><a href="#">Senior Manager</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5 col-md-6">
                        <div class="footer__widget pl-30 mb-50">
                            <div class="footer__widget-title mb-20">
                                <h3>Newsletters</h3>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__subscribe">
                                    <p>Boluptatem accusantiu dolore laudantium totaaperiam</p>
                                    <div class="footer__subscribe-form">
                                        <form action="#">
                                            <input type="text" placeholder="Enter Your Email">
                                            <button type="submit" class="b-btn b-btn-green b-btn-white">Subscribe Now <i class="far fa-arrow-right"></i></button>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright black-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-7">
                        <div class="footer__copyright-text">
                            <p>© Copyright 2021 <a href="index.html">Biden</a> All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-5">
                        <div class="footer__social theme-social f-right">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>