<main>
  <!-- page title area start -->
  <section
    class="page__title page__title-height d-flex align-items-center"
    data-background="assets/img/page-title/page-title-1.jpg"
    style="background-image: url('assets/img/page-title/page-title-1.jpg')"
  >
    <div class="hero-shape">
      <span class="circle"></span>
      <span class="circle circle-yellow"></span>
      <span class="shape-plus shape-plus-green">+</span>
      <span class="shape-plus shape-plus-green shape-plus-2">+</span>
      <span class="dot-shape">
        <img src="assets/img/shape/dot-shape.png" alt="dot-shape" />
      </span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page__title-content text-center mt-80">
            <h2>Job Details</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Job Details
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page title area end -->

  <!-- job details area start -->
  <section class="job__details mt--80 pb-100 grey-bg">
    <div class="container">
      <div class="job-item job-item-2 white-bg">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="job-wrapper">
              <div class="banck-icon">
                <i class="flaticon-dashboard"></i>
              </div>
              <div class="job-instructor-profile">
                <div class="job-instructor-img job-instructor-img-2 f-left">
                  <img
                    src="http://localhost:3000/getfile/{{
                      byid.entreprise.picture
                    }}"
                    alt=""
                  />
                </div>
                <div class="job-instructor-title">
                  <div class="job-tag mb-20">
                    <span class="tag-normal">full time</span>
                  </div>
                  <h5>
                    <a href="job-grid.html">{{ byid.titre }}</a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <div class="job-right d-flex justify-content-between">
              <div class="job-meta job-meta-2 mt-15">
                <span
                  ><i class="far fa-map-marker-alt"></i>
                  {{ byid?.entreprise?.place?.name }}
                </span>
                <span><i class="fal fa-usd-circle"></i> 250 - 495</span>
              </div>
              <div class="job-btn">
                <a
                  class="b-btn b-btn-green"
                  href="#"
                  data-toggle="modal"
                  data-target="#registerModal"
                  *ngIf="!isentreprise()"
                  >Apply Job <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="job-details-wrapper white-bg">
        <div class="job-details-inner">
          <div class="row">
            <div class="col-xl-7">
              <div class="job-list mb-50">
                <h4>Responsibilities</h4>
                <ul>
                  <li>{{byid?.description}}</li>
                </ul>
              </div>
              <div class="job-details-video mb-45">
                <img
                  src="http://localhost:3000/getfile/{{
                    byid.entreprise.picture
                  }}"
                  alt=""
                />
                <!-- <a
                  href="https://youtu.be/yJg-Y5byMMw"
                  class="job-play popup-video"
                  ><i class="fas fa-play"></i
                ></a> -->
              </div>
              <div class="job-list mb-50">
                <h4>Requirements</h4>
                <ul>
                  <li>Bachelor’s Degree in Computer Science or equivalent</li>
                  <li>
                    15-20 years of software development experience with at least
                    5 years
                  </li>
                  <li>
                    Experience in managing and delivering multiple projects in
                    parallel
                  </li>
                  <li>
                    A strong technology background is preferred, including
                    experience
                  </li>
                  <li>
                    Management skills including project management capabilities
                  </li>
                  <li>Excellent leadership and customer service skills</li>
                  <li>Strong teamwork skills and attention to detail</li>
                  <li>
                    Experience working in a high-level collaborative global
                    environment and promoting a teamwork mentality
                  </li>
                </ul>
              </div>
              <div class="job-thumb-wrapper mb-15">
                <div class="row">
                  <div class="col-xl-6 col-lg-6">
                    <div class="job-thumb mb-30">
                      <img src="assets/img/job/job-details-sm-1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6">
                    <div class="job-thumb mb-30">
                      <img src="assets/img/job/job-details-sm-2.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="job-list mb-50">
                <h4>Professional Skills</h4>
                <ul>
                  <li>
                    Experience in DWH/.net/java projects as a technical lead at
                    least 10 years
                  </li>
                  <li>
                    Excellent management skills combined with project management
                    skills
                  </li>
                  <li>Direct client experience is a plus</li>
                  <li>Ability to work in agile environment</li>
                  <li>
                    Excellent communication, presentation and facilitation
                    skills are necessary
                  </li>
                  <li>
                    Experience with project management tools such as MS Project
                  </li>
                  <li>
                    Proficient with MS Office, Jira and Confluence (or
                    equivalent tools)
                  </li>
                  <li>
                    A highly motivated person that is passionate about
                    collaborating with others
                  </li>
                  <li>
                    A team player who is open-minded, proactive and
                    process-driven
                  </li>
                  <li>
                    Excellent oral and written skills and impeccable time
                    management skills
                  </li>
                </ul>
              </div>
              <div class="job-upload mb-50 d-none">
                <form action="#">
                  <input type="text" placeholder="Upload Your Resume" />
                  <button type="submit" class="b-btn">
                    Upload Resume<i class="fal fa-arrow-right"></i>
                  </button>
                </form>
              </div>
              <div class="job-tags mb-15">
                <span>Popular Tag :</span>
                <ul>
                  <li><a href="#">job</a></li>
                  <li><a href="#">resume</a></li>
                  <li><a href="#">job board</a></li>
                </ul>
              </div>
              <div
                class="job-share theme-social d-sm-flex align-items-center mb-45"
              >
                <span>Share : </span>
                <ul>
                  <li>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-behance"></i>
                      <i class="fab fa-behance"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-youtube"></i>
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="job-map mb-50">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51805.70090841908!2d10.775419980408875!3d35.75433643075312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130212b61d744f59%3A0xf284743e1d3e40ef!2sMonastir!5e0!3m2!1sen!2stn!4v1648655239752!5m2!1sen!2stn"
                  width="600"
                  height="450"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
              <div class="related-job">
                <h4>Related Jobs</h4>
                <div
                  class="related-job-slider owl-carousel owl-loaded owl-drag"
                >
                  <div class="owl-stage-outer">
                    <div
                      class="owl-stage"
                      style="
                        transform: translate3d(-1284px, 0px, 0px);
                        transition: all 0s ease 0s;
                        width: 3852px;
                      "
                    >
                      <div
                        class="owl-item cloned"
                        style="width: 612px; margin-right: 30px"
                      >
                        <div class="related-job-single">
                          <div class="job-item">
                            <div class="row align-items-center">
                              <div class="job-wrapper">
                                <div class="banck-icon">
                                  <i class="flaticon-dashboard"></i>
                                </div>
                                <div class="job-instructor-profile">
                                  <div class="job-instructor-img f-left">
                                    <img src="assets/img/job/j-02.png" alt="" />
                                  </div>
                                  <div class="job-instructor-title">
                                    <div class="job-tag mb-20">
                                      <span class="tag-normal">full time</span>
                                    </div>
                                    <h5>
                                      <a href="#">Senior Graphics Designer</a>
                                    </h5>
                                    <div class="job-meta mt-15 mb-30">
                                      <span
                                        ><i class="far fa-map-marker-alt"></i>
                                        205 Main Road, New York</span
                                      >
                                      <span
                                        ><i class="fal fa-usd-circle"></i> 250 -
                                        495</span
                                      >
                                    </div>
                                    <div class="job-btn">
                                      <a
                                        class="b-btn b-btn-grey"
                                        href="job-details.html"
                                        >Job Details
                                        <i class="far fa-arrow-right"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="owl-item cloned"
                        style="width: 612px; margin-right: 30px"
                      >
                        <div class="related-job-single">
                          <div class="job-item">
                            <div class="row align-items-center">
                              <div class="job-wrapper">
                                <div class="banck-icon">
                                  <i class="flaticon-dashboard"></i>
                                </div>
                                <div class="job-instructor-profile">
                                  <div class="job-instructor-img f-left">
                                    <img src="assets/img/job/j-02.png" alt="" />
                                  </div>
                                  <div class="job-instructor-title">
                                    <div class="job-tag mb-20">
                                      <span class="tag-normal">full time</span>
                                    </div>
                                    <h5>
                                      <a href="#">Senior Graphics Designer</a>
                                    </h5>
                                    <div class="job-meta mt-15 mb-30">
                                      <span
                                        ><i class="far fa-map-marker-alt"></i>
                                        205 Main Road, New York</span
                                      >
                                      <span
                                        ><i class="fal fa-usd-circle"></i> 250 -
                                        495</span
                                      >
                                    </div>
                                    <div class="job-btn">
                                      <a
                                        class="b-btn b-btn-grey"
                                        href="job-details.html"
                                        >Job Details
                                        <i class="far fa-arrow-right"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="owl-item active"
                        style="width: 612px; margin-right: 30px"
                      >
                        <div class="related-job-single">
                          <div class="job-item">
                            <div class="row align-items-center">
                              <div class="job-wrapper">
                                <div class="banck-icon">
                                  <i class="flaticon-dashboard"></i>
                                </div>
                                <div class="job-instructor-profile">
                                  <div class="job-instructor-img f-left">
                                    <img src="assets/img/job/j-02.png" alt="" />
                                  </div>
                                  <div class="job-instructor-title">
                                    <div class="job-tag mb-20">
                                      <span class="tag-normal">full time</span>
                                    </div>
                                    <h5>
                                      <a href="#">Senior Graphics Designer</a>
                                    </h5>
                                    <div class="job-meta mt-15 mb-30">
                                      <span
                                        ><i class="far fa-map-marker-alt"></i>
                                        205 Main Road, New York</span
                                      >
                                      <span
                                        ><i class="fal fa-usd-circle"></i> 250 -
                                        495</span
                                      >
                                    </div>
                                    <div class="job-btn">
                                      <a
                                        class="b-btn b-btn-grey"
                                        href="job-details.html"
                                        >Job Details
                                        <i class="far fa-arrow-right"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="owl-item"
                        style="width: 612px; margin-right: 30px"
                      >
                        <div class="related-job-single">
                          <div class="job-item">
                            <div class="row align-items-center">
                              <div class="job-wrapper">
                                <div class="banck-icon">
                                  <i class="flaticon-dashboard"></i>
                                </div>
                                <div class="job-instructor-profile">
                                  <div class="job-instructor-img f-left">
                                    <img src="assets/img/job/j-02.png" alt="" />
                                  </div>
                                  <div class="job-instructor-title">
                                    <div class="job-tag mb-20">
                                      <span class="tag-normal">full time</span>
                                    </div>
                                    <h5>
                                      <a href="#">Senior Graphics Designer</a>
                                    </h5>
                                    <div class="job-meta mt-15 mb-30">
                                      <span
                                        ><i class="far fa-map-marker-alt"></i>
                                        205 Main Road, New York</span
                                      >
                                      <span
                                        ><i class="fal fa-usd-circle"></i> 250 -
                                        495</span
                                      >
                                    </div>
                                    <div class="job-btn">
                                      <a
                                        class="b-btn b-btn-grey"
                                        href="job-details.html"
                                        >Job Details
                                        <i class="far fa-arrow-right"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="owl-item cloned"
                        style="width: 612px; margin-right: 30px"
                      >
                        <div class="related-job-single">
                          <div class="job-item">
                            <div class="row align-items-center">
                              <div class="job-wrapper">
                                <div class="banck-icon">
                                  <i class="flaticon-dashboard"></i>
                                </div>
                                <div class="job-instructor-profile">
                                  <div class="job-instructor-img f-left">
                                    <img src="assets/img/job/j-02.png" alt="" />
                                  </div>
                                  <div class="job-instructor-title">
                                    <div class="job-tag mb-20">
                                      <span class="tag-normal">full time</span>
                                    </div>
                                    <h5>
                                      <a href="#">Senior Graphics Designer</a>
                                    </h5>
                                    <div class="job-meta mt-15 mb-30">
                                      <span
                                        ><i class="far fa-map-marker-alt"></i>
                                        205 Main Road, New York</span
                                      >
                                      <span
                                        ><i class="fal fa-usd-circle"></i> 250 -
                                        495</span
                                      >
                                    </div>
                                    <div class="job-btn">
                                      <a
                                        class="b-btn b-btn-grey"
                                        href="job-details.html"
                                        >Job Details
                                        <i class="far fa-arrow-right"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="owl-item cloned"
                        style="width: 612px; margin-right: 30px"
                      >
                        <div class="related-job-single">
                          <div class="job-item">
                            <div class="row align-items-center">
                              <div class="job-wrapper">
                                <div class="banck-icon">
                                  <i class="flaticon-dashboard"></i>
                                </div>
                                <div class="job-instructor-profile">
                                  <div class="job-instructor-img f-left">
                                    <img src="assets/img/job/j-02.png" alt="" />
                                  </div>
                                  <div class="job-instructor-title">
                                    <div class="job-tag mb-20">
                                      <span class="tag-normal">full time</span>
                                    </div>
                                    <h5>
                                      <a href="#">Senior Graphics Designer</a>
                                    </h5>
                                    <div class="job-meta mt-15 mb-30">
                                      <span
                                        ><i class="far fa-map-marker-alt"></i>
                                        205 Main Road, New York</span
                                      >
                                      <span
                                        ><i class="fal fa-usd-circle"></i> 250 -
                                        495</span
                                      >
                                    </div>
                                    <div class="job-btn">
                                      <a
                                        class="b-btn b-btn-grey"
                                        href="job-details.html"
                                        >Job Details
                                        <i class="far fa-arrow-right"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-nav">
                    <div class="owl-prev">
                      <button><i class="fal fa-angle-left"></i></button>
                    </div>
                    <div class="owl-next">
                      <button><i class="fal fa-angle-right"></i></button>
                    </div>
                  </div>
                  <div class="owl-dots disabled"></div>
                </div>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="team__job mt-15 mb-30">
                <h4>Job Informations</h4>
                <ul>
                  <li>
                    <h5>Job Type</h5>
                    <span>{{ byid?.type }}</span>
                  </li>
                  <li>
                    <h5>Category</h5>
                    <span>{{ byid?.entreprise?.specialites?.name }}</span>
                  </li>
                  <li>
                    <h5>Location</h5>
                    <span>{{ byid?.entreprise?.place?.name }}</span>
                  </li>
                  
                  <li>
                    <h5>Posted</h5>
                    <span> Posted 5 Months Ago</span>
                  </li>
                  <li>
                    <h5>Experience</h5>
                    <span>5 Year</span>
                  </li>
                 
                  <li>
                    <h5>Industry</h5>
                    <span>Development</span>
                  </li>
                  
                  
                </ul>
                <!-- <a href="contact.html" class="b-btn"
                  >Apply Job Now<i class="far fa-arrow-right"></i
                ></a> -->
              </div>
              <div class="job-contact">
                <h4>Send Us Message</h4>
                <form action="#">
                  <div class="job-input-2">
                    <input type="text" placeholder="Your Full Name" />
                    <i class="far fa-user"></i>
                  </div>
                  <div class="job-input-2">
                    <input type="email" placeholder="Email Address" />
                    <i class="far fa-envelope"></i>
                  </div>
                  <div class="job-input-2">
                    <textarea placeholder="Write Comments"></textarea>
                    <i class="far fa-pen-alt"></i>
                  </div>
                  <button type="submit" class="b-btn b-btn-green">
                    Send Reviews <i class="far fa-arrow-right"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->

  <div
    class="modal fade register__modal-area"
    id="registerModal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="register__modal">
            <div class="register__nav-content">
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="register"
                  role="tabpanel"
                  aria-labelledby="register-tab"
                >
                  <div class="register__form">
                    <form [formGroup]="candidatureForm" action="#">
                      <div class="register__input">
                        <input
                          type="text"
                          placeholder="{{ userconnect?.firstname }}"
                        />
                        <i class="far fa-user"></i>
                      </div>
                      <div class="register__input">
                        <input
                          type="text"
                          placeholder="{{ userconnect?.lastname }}"
                        />
                        <i class="far fa-user"></i>
                      </div>
                      <div class="register__input">
                        <input
                          type="email"
                          placeholder="{{ userconnect?.email }}"
                        />
                        <i class="far fa-envelope-open"></i>
                      </div>

                      <div class="register__input">
                        <label>Add your photo</label>
                        <input
                          type="file"
                          (change)="handleFileInput($event)"
                          name="file"
                          class="form-control form-control-user"
                          id="exempleRepeat"
                          placeholder="file"
                        />
                      </div>

                      <div class="register__btn mb-45">
                        <button
                          type="submit"
                          class="b-btn b-btn-green w-100"
                          (click)="Addcandidature()"
                        >
                          Add candidature <i class="far fa-arrow-right"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- login register modal end -->
</main>
