<section
  class="page__title page__title-height d-flex align-items-center"
  data-background="assets/img/page-title/page-title-1.jpg"
  style="background-image: url('assets/img/page-title/page-title-1.jpg')"
>
  <div class="hero-shape">
    <span class="circle"></span>
    <span class="circle circle-yellow"></span>
    <span class="shape-plus shape-plus-green">+</span>
    <span class="shape-plus shape-plus-green shape-plus-2">+</span>
    <span class="dot-shape">
      <img src="assets/img/shape/dot-shape.png" alt="dot-shape" />
    </span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="page__title-content text-center mt-80">
          <h2>Messages</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Messages
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="inner-banner">
  <div class="container">
    
  </div>
</div>
&nbsp;
<div class="all-applicants-box">
  <h2>Liste Messages</h2>
  &nbsp;
  <div class="row">
    <div class="col-lg-6 col-md-12" *ngFor="let Msg of listMsg">
      <div class="single-applicants-card">
        <div class="image">
          <a href="candidates-details.html"
            ><img
              src="http://localhost:3000/getfile/{{ Msg?.candidat?.picture }}"
              alt="image"
          /></a>
        </div>
      
        <div class="content">
          <h3>  {{ Msg.candidat.firstname }} {{ Msg.candidat.lastname }}</h3>
          
          <div class="applicants-footer">
            <ul class="option-list">
              <li>
                <button type="button" class="btn btn-primary" [routerLink]="['/detailmessage',Msg._id]">Consulter</button>
                &nbsp;
                <button type="button" (click)="deleteMsg(Msg._id)" class="btn btn-danger">Supprimer</button>
              </li>
              <li>
                
                
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
