<main>
  <!-- page title area start -->
  <section
    class="page__title page__title-height d-flex align-items-center"
    data-background="assets/img/page-title/page-title-1.jpg"
    style="background-image: url('assets/img/page-title/page-title-1.jpg')"
  >
    <div class="hero-shape">
      <span class="circle"></span>
      <span class="circle circle-yellow"></span>
      <span class="shape-plus shape-plus-green">+</span>
      <span class="shape-plus shape-plus-green shape-plus-2">+</span>
      <span class="dot-shape">
        <img src="assets/img/shape/dot-shape.png" alt="dot-shape" />
      </span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page__title-content text-center mt-80">
            <h2>Employer Details</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Employer Details
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="employer__details pt-35 pb-125 grey-bg">
    <div class="container">
      <div class="employer__inner">
        <div class="row">
          <div class="col-xl-8">
            <div class="employer__wrapper">
              <div class="employer__head pb-55">
                <div class="row">
                  <div class="col-xl-8">
                    <div class="employer__left d-md-flex">
                      <div class="employer__head-thumb mr-25">
                        <img src="assets/img/job/04.png" alt="" />
                      </div>
                      <div class="employer__content">
                        <h5 class="d-inline-block mr-15">
                          <a href="employer-list.html">{{ byid?.firstname }}</a>
                        </h5>
                        <div class="emp-rating d-inline-block">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="job-meta mt-10">
                          <span
                            ><i class="far fa-briefcase"></i>
                            {{ byid?.specialites?.name }}
                          </span>
                          <span
                            ><i class="far fa-map-marker-alt"> </i>
                            {{ byid?.place?.name }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4">
                    <div class="employer__btn text-md-right">
                      <a href="employer-list.html" class="b-btn b-btn-green"
                        >Follow Us <i class="far fa-arrow-right"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="employer__info-wrapper pt-55">
                <div class="employer__title">
                  <h3>Learn About Me</h3>
                </div>
                <div class="employer__info">
                  <p>
                    {{ byid?.description }}
                  </p>
                  <p></p>
                </div>
                <div class="employer__img mt-20">
                  <div class="row">
                    <div class="employer__thumb mb-30">
                      <img
                        src="http://localhost:3000/getfile/{{ byid?.picture }}"
                        alt=""
                      />
                    </div>
                  </div>
                </div>

                <div class="employer__title mb-35">
                  <h3>Available Jobs</h3>
                </div>
                <div class="employer__available mb-45">
                  <div
                    class="job-item job-item-3 mb-30"
                    *ngFor="let i of listoffre"
                  >
                    <div class="row align-items-center">
                      <div class="col-lg-8">
                        <div class="job-wrapper">
                          <div class="banck-icon">
                            <i class="flaticon-dashboard"></i>
                          </div>
                          <div class="job-instructor-profile">
                            <div class="job-instructor-img f-left">
                              <img
                                src="http://localhost:3000/getfile/{{
                                  byid?.picture
                                }}"
                                alt=""
                              />
                            </div>
                            <div class="job-instructor-title">
                              <div class="job-tag mb-20">
                                <span class="tag-normal">{{ i?.type }}</span>
                                <span class="tag-urgent">urgent</span>
                              </div>
                              <h5>
                                <a href="job-details.html">{{ i?.titre }}</a>
                              </h5>
                              <div class="job-meta mt-15">
                                <span
                                  ><i class="far fa-map-marker-alt"></i>
                                  {{ i?.entreprise?.place?.name }}
                                </span>
                              </div>
                              <div class="job-btn mt-30 d-lg-none">
                                <a class="b-btn b-btn-green"
                                  >Job Details
                                  <i class="far fa-arrow-right"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 d-none d-lg-block">
                        <div class="job-btn text-right">
                          <a
                            class="b-btn b-btn-green"
                            [routerLink]="['/detailoffre', i._id]"
                            >Job Details <i class="far fa-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="employer__title mb-35">
                  <h3>Why Choose Our Company</h3>
                </div>
                <div class="employer__faq faq__content">
                  <div id="accordion">
                    <div class="card mb-15">
                      <div class="card-header" id="faq-1">
                        <h5 class="mb-0">
                          <button
                            class="btn btn-link collapsed"
                            data-toggle="collapse"
                            data-target="#collapse-1"
                            aria-expanded="true"
                            aria-controls="collapse-1"
                          >
                            Why Are We Talking About ?
                          </button>
                        </h5>
                      </div>

                      <div
                        id="collapse-1"
                        class="collapse"
                        aria-labelledby="faq-1"
                        data-parent="#accordion"
                      >
                        <div class="card-body">
                          <p>
                            But must explain to you how all this mistaken idea
                            enouncing pleasure and praising pain was born and I
                            will give youomplete account of the system and
                            expound the actual
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card mb-15">
                      <div class="card-header" id="faq-2">
                        <h5 class="mb-0">
                          <button
                            class="btn btn-link"
                            data-toggle="collapse"
                            data-target="#collapse-2"
                            aria-expanded="true"
                            aria-controls="collapse-2"
                          >
                            Introducing Alpine JavaScript Framework
                          </button>
                        </h5>
                      </div>

                      <div
                        id="collapse-2"
                        class="collapse show"
                        aria-labelledby="faq-2"
                        data-parent="#accordion"
                      >
                        <div class="card-body">
                          <p>
                            But must explain to you how all this mistaken idea
                            enouncing pleasure and praising pain was born and I
                            will give youomplete account of the system and
                            expound the actual
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card mb-15">
                      <div class="card-header" id="faq-3">
                        <h5 class="mb-0">
                          <button
                            class="btn btn-link collapsed"
                            data-toggle="collapse"
                            data-target="#collapse-3"
                            aria-expanded="true"
                            aria-controls="collapse-3"
                          >
                            Why Are We Talking About ?
                          </button>
                        </h5>
                      </div>

                      <div
                        id="collapse-3"
                        class="collapse"
                        aria-labelledby="faq-3"
                        data-parent="#accordion"
                      >
                        <div class="card-body">
                          <p>
                            But must explain to you how all this mistaken idea
                            enouncing pleasure and praising pain was born and I
                            will give youomplete account of the system and
                            expound the actual
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="employer__company mb-30">
              <h4>Company Info</h4>
              <ul>
                <li>
                  <h5><i class="far fa-map-marker-alt"></i>Job Type</h5>
                  <span>Part Time</span>
                </li>
                <li>
                  <h5><i class="far fa-tag"></i> Comapny</h5>
                  <span> IT Company</span>
                </li>
                <li>
                  <h5><i class="far fa-user-circle"></i>Employees</h5>
                  <span>5203</span>
                </li>
                <li>
                  <h5><i class="fal fa-clock"></i>Founded in</h5>
                  <span>1992</span>
                </li>
                <li>
                  <h5><i class="far fa-briefcase"></i>Jobs Posted</h5>
                  <span>25</span>
                </li>
                <li>
                  <h5><i class="fal fa-globe"></i>Website</h5>
                  <span>www.itservice.net</span>
                </li>
                <li>
                  <h5><i class="fal fa-heart"></i>Followers</h5>
                  <span>5 Million</span>
                </li>
              </ul>
            </div>
            <div class="employer__map mb-30">
              <iframe
                src="https://maps.google.com/maps?hl=en&amp;q=Dhaka+()&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"
              ></iframe>
            </div>
            <div class="job-contact">
              <h4>Conatct Us</h4>
              <form action="#" [formGroup]="msgForm">
                <div class="job-input-2">
                  <input
                    type="text"
                    placeholder="{{ userconnect.firstname }}{{ userconnect.lastname }}"
                  />
                  <i class="far fa-user"></i>
                </div>
                <div class="job-input-2">
                  <input type="email" placeholder="{{userconnect.email}}" />
                  <i class="far fa-envelope"></i>
                </div>
                <div class="job-input-2">
                  <textarea placeholder="Write Comments" formControlName="description"></textarea>
                  <i class="far fa-pen-alt"></i>
                </div>
                <button (click)="addMsg()" type="submit" class="b-btn b-btn-green">
                  Send Reviews <i class="far fa-arrow-right"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
