<header class="header-transparent">
  <div id="sticky-header" class="main-menu-area menu-01 header-area">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
          <div class="logo">
            <a href="index.html"
              ><img src="assets/img/logo/job.png" alt=""
            /></a>
          </div>
          <div class="logo-black">
            <a href="index.html"
              ><img src="assets/img/logo/job.png" alt=""
            /></a>
          </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-6">
          <div
            class="header-right d-flex justify-content-end justify-content-lg-between align-items-center"
          >
            <div class="main-menu d-none d-lg-block">
              <nav id="mobile-menu" style="display: block">
                <ul>
                  <li class="active">
                    <a routerLink="/">home <i class=""></i></a>
                    <!--  <ul class="sub-menu text-left">
                                            <li><a href="index.html">home 1</a></li>
                                            <li><a href="index-2.html">home 2</a></li>
                                        </ul> -->
                  </li>
                  <li>
                    <a href="job-grid.html"
                      >Jobs <i class="far fa-angle-down"></i
                    ></a>
                    <ul class="sub-menu text-left">
                      <li><a routerLink="/listoffre">Job Offres</a></li>
                      <li>
                        <a *ngIf="isentreprise()" routerLink="/myoffre"
                          >My Job Offers</a
                        >
                      </li>
                      <li>
                        <a *ngIf="isentreprise()" routerLink="/addoffre"
                          >Add Job Offers</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="candidate-grid.html"
                      >Candidates <i class="far fa-angle-down"></i
                    ></a>
                    <ul class="sub-menu text-left">
                      <li><a routerLink="/listcandidat">Candidate List</a></li>
                      <li>
                        <a *ngIf="!isentreprise()" routerLink="/mycandidature"
                          >My List of candidature</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="employer-list.html"
                      >Employers <i class="far fa-angle-down"></i
                    ></a>
                    <ul class="sub-menu text-left">
                      <li>
                        <a routerLink="/listeentreprise">Employer List</a>
                      </li>
                      <li><a>Employer Details</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Pages <i class="far fa-angle-down"></i></a>
                    <ul class="sub-menu text-left">
                      <li><a *ngIf="isentreprise()" [routerLink]="['/listmessage',userconnect._id]">Messages</a></li>
                      
                     <li><a href="login.html">Login</a></li>
                      <li><a href="register.html">Register</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="contact.html"
                      >Upload Resume <i class="far fa-cloud-upload"></i
                    ></a>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="header-btn d-none d-lg-block">
              <div class="hedder-button">
                <a
                  class="h-btn d-lg-none d-xl-inline-block"
                  href="#"
                  data-toggle="modal"
                  data-target="#registerModal"
                  ><i class="far fa-user-circle"></i> Sign In / Login</a
                >
                <a
                  class="h-btn h-btn-green"
                  href="#"
                  data-toggle="modal"
                  data-target="#registerModal"
                  *ngIf="!isconnect()"
                  ><i class="far fa-lock-alt"></i> Log In</a
                >

                <a
                  class="h-btn h-btn-red"
                  href="#"
                  (click)="logout()"
                  *ngIf="isconnect()"
                  ><i class="far fa-lock-alt"></i> Log Out</a
                >
              </div>
            </div>
            <div class="sidebar__menu d-lg-none">
              <div class="sidebar-toggle-btn" id="sidebar-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
