<body style="overflow: visible">
  <!-- preloader -->
  <div id="preloader" style="display: none">
    <div class="preloader">
      <span></span>
      <span></span>
    </div>
  </div>
  <!-- preloader end  -->
  <!-- header-start -->

  <!-- header-start -->

  <!-- sidebar area start -->

  <div class="body-overlay"></div>
  <!-- sidebar area end -->

  <main>
    <!-- page title area start -->
    <section
      class="page__title page__title-height d-flex align-items-center"
      data-background="assets/img/page-title/page-title-1.jpg"
      style="background-image: url('assets/img/page-title/page-title-1.jpg')"
    >
      <div class="hero-shape">
        <span class="circle"></span>
        <span class="circle circle-yellow"></span>
        <span class="shape-plus shape-plus-green">+</span>
        <span class="shape-plus shape-plus-green shape-plus-2">+</span>
        <span class="dot-shape">
          <img src="assets/img/shape/dot-shape.png" alt="dot-shape" />
        </span>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="page__title-content text-center mt-80">
              <h2>Job Grid</h2>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Job Offres
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- page title area end -->

    <!-- job-area-start -->
    <div class="job-area pt-80 pb-50">
      <div class="container">
        <div class="row mb-45"></div>
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12" *ngFor="let i of listoffre">
            <div class="job-wrapper mb-30">
              <div class="banck-icon">
                <i class="flaticon-dashboard"></i>
              </div>
              <div class="job-tag mb-30">
                <span class="tag-normal">full time</span>
                <span class="tag-urgent">urgent</span>
              </div>

              <div class="job-instructor-profile mb-30">
                <div class="job-instructor-title">
                  <h4>
                    <a href="job-details.html">{{
                      i?.id_offre?.entreprise?.firstname
                    }}</a>
                  </h4>
                  <span> {{ i?.id_offre?.titre }}</span>
                </div>
              </div>
              <div class="job-instructor-img f-left">
                <img
                  src="http://localhost:3000/getfile/{{
                    i?.id_offre?.entreprise?.picture
                  }}"
                />
              </div>

              &nbsp;
              <div class="job-content">
                <h4>
                  <a href="job-details.html">{{ i?.titre }}</a>
                </h4>
                <p></p>
                <div class="job-salary">
                  <span></span>

                  <a [routerLink]="['/detailoffre', i?.id_offre?._id]"
                    >Job Details <i class="far fa-arrow-right"></i>
                  </a>
                </div>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- job-area-end -->
    <!-- login register modal start -->
    <!-- Modal -->

    <!-- login register modal end -->
  </main>

  <!-- JS here -->

  <!-- Mirrored from www.devsnews.com/template/biden/biden/job-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 29 Mar 2022 10:19:27 GMT -->
</body>
