<main>
  <!-- page title area start -->
  <section
    class="page__title page__title-height d-flex align-items-center"
    data-background="assets/img/page-title/page-title-1.jpg"
    style="background-image: url('assets/img/page-title/page-title-1.jpg')"
  >
    <div class="hero-shape">
      <span class="circle"></span>
      <span class="circle circle-yellow"></span>
      <span class="shape-plus shape-plus-green">+</span>
      <span class="shape-plus shape-plus-green shape-plus-2">+</span>
      <span class="dot-shape">
        <img src="assets/img/shape/dot-shape.png" alt="dot-shape" />
      </span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page__title-content text-center mt-80">
            <h2>Employer List</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">CV</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page title area end -->

  <!-- job-area-start -->
  <div class="job-area pt-80 pb-80">
    <div class="container">
      <pdf-viewer
        [src]="pdfSrc"
        [render-text]="true"
        [original-size]="false"
        style="width: 1200px; height:1000px"
      ></pdf-viewer>
    </div>
  </div>
  <!-- job-area-end -->

  <!-- login register modal start -->
  <!-- Modal -->

  <!-- login register modal end -->
</main>
