<section
  class="page__title page__title-height d-flex align-items-center"
  data-background="assets/img/page-title/page-title-1.jpg"
  style="background-image: url('assets/img/page-title/page-title-1.jpg')"
>
  <div class="hero-shape">
    <span class="circle"></span>
    <span class="circle circle-yellow"></span>
    <span class="shape-plus shape-plus-green">+</span>
    <span class="shape-plus shape-plus-green shape-plus-2">+</span>
    <span class="dot-shape">
      <img src="assets/img/shape/dot-shape.png" alt="dot-shape" />
    </span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="page__title-content text-center mt-80">
          <h2>Messages</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Messages
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="contact-form">
  <h3>Message</h3>
  <form id="contactForm" novalidate="true">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Nom </label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            placeholder="{{ message?.candidat?.firstname }} {{
              message.candidat.lastname
            }} "
          />
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label> Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="{{ message.candidat.email }}"
          />
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label>Telephone</label>
          <input
            type="text"
            name="phone_number"
            id="phone_number"
            class="form-control"
            placeholder="{{ message.candidat.mobile }}"
          />
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="col-lg-6">
        
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="form-group">
          <label>Message</label>
          <textarea
            name="message"
            class="form-control"
            id="message"
            cols="30"
            rows="5"
            required=""
            data-error="Write your message"
            placeholder="{{ message.description }}"
          ></textarea>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <button
        class="btn btn-success"
        [routerLink]="['/listmessage', userconnect._id]"
      >
        OK
      </button>
    </div>
  </form>
</div>
