
<main>
  <!-- page title area start -->
  <section
    class="page__title page__title-height d-flex align-items-center"
    data-background="assets/img/page-title/page-title-1.jpg"
    style="background-image: url('assets/img/page-title/page-title-1.jpg')"
  >
    <div class="hero-shape">
      <span class="circle"></span>
      <span class="circle circle-yellow"></span>
      <span class="shape-plus shape-plus-green">+</span>
      <span class="shape-plus shape-plus-green shape-plus-2">+</span>
      <span class="dot-shape">
        <img src="assets/img/shape/dot-shape.png" alt="dot-shape" />
      </span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page__title-content text-center mt-80">
            <h2>Candidate Details</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  David Jhon Warner
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page title area end -->

  <!-- team details area start -->
  <div class="post-job-area pt-100 pb-70">
    <div class="container">
      <div class="post-job-form">
        <h2>Job Information</h2>
        <div class="bar"></div>
        <div class="contact-form">
          <h3>Basic Info</h3>
          <form [formGroup]="postjobForm" (ngSubmit)="addoffree()">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Job title*</label>
                  <input
                    type="text"
                    formControlName="titre"
                    class="form-control"
                    required=""
                    data-error="Please Enter Job title"
                  />
                </div>
                <div class="form-group">
                  <label>Job type*</label>
                  <input
                    type="text"
                    formControlName="type"
                    class="form-control"
                    required=""
                    data-error="Please Enter Job title"
                  />
                </div>
                <!-- <div class="form-group">
            <label>Job *</label>
            <input      type="text"
            formControlName="adresse" class="form-control" required="" data-error="Please Enter Job title">
            </div> -->
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group select-group">
                  <label>Category*</label>
                  <select
                    
                    class="form-select form-control"
                  >
                    <option >
                      {{listcategory?.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group select-group">
                  <label>Place*</label>
                  <select
                    
                    class="form-select form-control"
                  >
                    <option>
                      {{listplace?.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group select-group">
                  <label>Company*</label>
                  <select
                    
                    class="form-select form-control"
                  >
                    <option>
                      {{ userconnect.firstname }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Job Description*</label>
                  <textarea
                    type="text"
                    formControlName="description"
                    class="form-control"
                    cols="30"
                    rows="5"
                    required=""
                    data-error="Write your Job Description"
                  ></textarea>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary mr-1">
                  Ajouter un nouveau Offre
                </button>
                <button
                  class="btn btn-secondary"
                  type="reset"
                  (click)="onReset()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="contact-form">
        <h3>Recruiter Information</h3>
        <form id="contactForm">
        <div class="row">
        <div class="col-lg-6 col-md-6">
        <div class="form-group">
        <label>Company Name</label>
        <input class="form-control" type="text" name="Company">
        </div>
        </div>
        <div class="col-lg-6 col-md-6">
        <div class="form-group">
        <label>Company Business</label>
        <input class="form-control" type="text" name="Company Business">
        </div>
        </div>
        <div class="col-lg-12 col-md-12">
        <div class="agree-label">
        <input type="checkbox" id="chb1">
        <label for="chb1">
        Accept <a href="terms-condition.html">Terms &amp; Conditions</a> And <a href="privacy-policy.html">Privacy Policy.</a>
        </label>
        </div>
        </div>
        <div class="col-lg-12 col-md-12">
        <button type="submit" class="default-btn border-radius-5">
        Send Message <i class="ri-chat-4-line"></i>
        </button>
        </div>
        </div>
        </form>
        </div> -->
      </div>
    </div>
  </div>
  <!-- team details area end -->

  <!-- login register modal start -->
</main>
